
{% include 'dashboard/cabecalho.html' %}

 <h1 class="mb-4">List Alunos</h1>

 <div class="row">

  <h2>Lista Alunos</h2>

<div class="row">
    <table class="table table-bordered table-striped">
        <thead class="table-dark">
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>Idade</th>
                <th>Cidade</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>Abner Asel Alves Vieira</td>
                <td>18</td>
                <td>Phb</td>
                <td>
                    <a href="/aluno/editar/1" class="btn btn-primary btn-sm">Editar</a>
                    <a href="/aluno/remover/1" class="btn btn-danger btn-sm" onclick="return confirm('Tem certeza que deseja remover este registro?');">Remover</a>
                </td>
            </tr>
            <tr>
                <td>10</td>
                <td>Kelson Andre Veloso Moura Paiva</td>
                <td>18</td>
                <td>Phb</td>
                <td>
                    <a href="/aluno/editar/10" class="btn btn-primary btn-sm">Editar</a>
                    <a href="/aluno/remover/10" class="btn btn-danger btn-sm" onclick="return confirm('Tem certeza que deseja remover este registro?');">Remover</a>
                </td>
            </tr>
            <tr>
                <td>11</td>
                <td>Lucas Barros da Silva Ramos</td>
                <td>18</td>
                <td>Phb</td>
                <td>
                    <a href="/aluno/editar/11" class="btn btn-primary btn-sm">Editar</a>
                    <a href="/aluno/remover/11" class="btn btn-danger btn-sm" onclick="return confirm('Tem certeza que deseja remover este registro?');">Remover</a>
                </td>
            </tr>
            <tr>
                <td>12</td>
                <td>Maria Eduarda Vieira da Silva</td>
                <td>18</td>
                <td>Phb</td>
                <td>
                    <a href="/aluno/editar/12" class="btn btn-primary btn-sm">Editar</a>
                    <a href="/aluno/remover/12" class="btn btn-danger btn-sm" onclick="return confirm('Tem certeza que deseja remover este registro?');">Remover</a>
                </td>
            </tr>
            <tr>
                <td>13</td>
                <td>Mario Evangelista Coelho</td>
                <td>18</td>
                <td>Phb</td>
                <td>
                    <a href="/aluno/editar/13" class="btn btn-primary btn-sm">Editar</a>
                    <a href="/aluno/remover/13" class="btn btn-danger btn-sm" onclick="return confirm('Tem certeza que deseja remover este registro?');">Remover</a>
                </td>
            </tr>
            <tr>
                <td>14</td>
                <td>Nicolas Freitas Torres</td>
                <td>18</td>
                <td>Phb</td>
                <td>
                    <a href="/aluno/editar/14" class="btn btn-primary btn-sm">Editar</a>
                    <a href="/aluno/remover/14" class="btn btn-danger btn-sm" onclick="return confirm('Tem certeza que deseja remover este registro?');">Remover</a>
                </td>
            </tr>
            <tr>
                <td>15</td>
                <td>Rendson Gustavo Lira Costa</td>
                <td>18</td>
                <td>Phb</td>
                <td>
                    <a href="/aluno/editar/15" class="btn btn-primary btn-sm">Editar</a>
                    <a href="/aluno/remover/15" class="btn btn-danger btn-sm" onclick="return confirm('Tem certeza que deseja remover este registro?');">Remover</a>
                </td>
            </tr>
            <tr>
                <td>16</td>
                <td>Robert Craveiro Castelo Branco Nascimento</td>
                <td>18</td>
                <td>Phb</td>
                <td>
                    <a href="/aluno/editar/16" class="btn btn-primary btn-sm">Editar</a>
                    <a href="/aluno/remover/16" class="btn btn-danger btn-sm" onclick="return confirm('Tem certeza que deseja remover este registro?');">Remover</a>
                </td>
            </tr>
            <tr>
                <td>17</td>
                <td>Samuel Guedes da Silva</td>
                <td>18</td>
                <td>Phb</td>
                <td>
                    <a href="/aluno/editar/17" class="btn btn-primary btn-sm">Editar</a>
                    <a href="/aluno/remover/17" class="btn btn-danger btn-sm" onclick="return confirm('Tem certeza que deseja remover este registro?');">Remover</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
</div>


{% include 'dashboard/rodape.html' %}
